input#search(type="search", placeholder="Search Movies")
a(href="/favorites") Check out the favorites

br
p click on the movies to get more info on them
ul#results

script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script(src="javascripts/main.js")
