input#search(type="search", placeholder="Search Movies")
a(href="/favorites") Check out the favorites

br
ul#results

script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script(src="javascripts/main.js")
link(rel='stylesheet' href='/stylesheets/style.css')
